
/*#########################################*/

/*css reset*/
/* if you mean to attach all html tag you can use '*' */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



a{   text-decoration: blink;}
   
body{
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
   }
  .navbar{
  background-image: url("/website/images/test-background.gif");
 
}


.navbar-toggle{
  display: none;
}
.logo{
  text-align: center;
}
.logo-brand img{

      margin-top: 12px;
}

.nav-main{
  background-image: url("/website/images/nav-bg.jpg");
      background-size: 100% 121px;
       

}
.navbar-nav  li {
     margin: auto;
      display: flex;
          padding: 10px 0;
           


}
 .navbar-nav  a {
      padding-left: 5px;
    padding-right: 5px;
    }
.container ul{
  padding: 6px
    height: 24px;
        display: flex;
      }


.container ul li:hover {
  border-radius: 6px;
  background-color: #31E8E0;
  opacity: 0.5;
    
  }
  .navbar-collapse{
        border-bottom: 1px solid rgb(61, 60, 62);
          border-top: 1px solid rgb(61, 60, 62)
  }
  


@media only screen and (min-width: 600px)
{
  


}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  transition: 4s opacity;
  opacity: 0.1;
}
@media only screen and (max-width: 500px) {
   video{
      display: none;
    }
}





